.account-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow-y: auto;
}

.account-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  font-weight: bold;
  font-size: 8vw;
}

@media (max-width: 768px) {
  .account-header {
    font-size: 20vw;
  }
}

.account-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #333;
  width: 90%;
}

.account-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  font-weight: bold;
  font-size: 6vw;
}

.account-name {
  padding: 0.5em;
  margin: 1em 0;
  border: solid 1px black;
  width: 80%;
  background-color: #f2f2f2;
  color: #333;
  font-size: 1.5em;
}

.account-phone {
  padding: 0.5em;
  margin: 1em 0;
  border: solid 1px black;
  width: 80%;
  background-color: #f2f2f2;
  color: #333;
  font-size: 1.5em;
}

.logout-button {
  padding: 0.5em;
  border-radius: 10px;
  background-color: #ff7f00;
  color: black;
  font-size: 1em;
  font-family: "Permanent Marker", cursive;
}
