.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    white,
    white 90%,
    #d0e8f2 80%,
    #d0e8f2 80%
  );
  background-size: 100% 3em;
  height: 100vh;
  width: 100vw;
  font-family: "Nanum Brush Script", cursive;
}

.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    font-weight: bold;
    font-size: 20vw; 
}

@media (min-width: 800px) {
  .login-header {
    font-size: 8vw;
  }
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
}

