.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-size: 100% 3em;
  height: 100vh;
  width: 100vw;
  font-family: "Nanum Brush Script", cursive;
}

.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    font-weight: bold;
    font-size: 8vw; 
}

@media (max-width: 768px) {
  .login-header {
    font-size: 20vw;
  }
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
}

