.add-friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #333;
  width: 100%;
  font-family: "Nanum Brush Script", cursive;
  font-size: 1.5rem;
}

.add-friends-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.add-friends-container .add-friends-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.add-friends-container .add-friends-form input {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.add-friends-container .add-friends-form button {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0c7bcf;
  color: white;
  font-size: 1.2rem;
}

.add-friends-container .add-friends-form button:hover {
  background-color: #0c7bcf;
}
