.add-friends-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
  color: #333;
  width: 90%;
 
}

.add-friends-title {
  text-align: center;
  font-size: 2rem;
  color: #1F2937;

}

.add-friends-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-friends-form h3 {
  text-align: center;
  font-size: 1.2rem;
  color: #374151;
  margin-bottom: 0.5em;
}

.add-friends-form input {
  padding: 0.5em;
  font-size: 1rem;
  font-family: "Nanum Brush Script", cursive;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 1em;
}

.search-results-container {
  width: 100%;
  margin-top: 1em;
}

.single-search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  margin-bottom: 1em;
  background-color: #F3F4F6;
}

.single-search-result p {
  margin: 0;
  font-size: 1.2rem;
  color: #4B5563;
}

.clear-search-button, .add-friend-button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #d0e8f2;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.clear-search-button:hover, .add-friend-button:hover {
  background-color: #064E3B;
}

.add-friend-button {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
}

.add-friend-image {
  width: 100%;
  height: auto;
}
