.add-friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #333;
  width: 100%;
  font-family: "Nanum Brush Script", cursive;
}

.add-friends-title {
 text-align: center;
  font-size: 10vw;
}

.add-friends-form h3 {
  text-align: center;
  font-size: 1.5rem;
}

.add-friends-form input {
  display: block;
  margin: 0 auto 1rem;
  padding: 0.5rem;
  width: 80%;
  max-width: 500px;
  font-size: 1.5rem;
  font-family: "Nanum Brush Script", cursive;
}

.search-results-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-search-result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #0c7bcf;
  box-sizing: border-box;
}

.single-search-result p {
  margin: 0;
  font-size: 1.5rem;
}

.clear-search-button {
  margin: auto 100px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #ff7f00;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
} 

.add-friend-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #ff7f00;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.clear-search-button:hover, .add-friend-button:hover {
  background-color: #0c7bcf;
}

.add-friend-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
}

.add-friend-image {
  width: 100%;
  height: auto;
}
