.friends-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  max-width: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.friends-list-container::-webkit-scrollbar {
  display: none;
}

.friends-list-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.friends-list-container h1 {
  font-size: 2rem;
  color: #1f2937;
  margin-bottom: 1em;
  text-align: center;
}

.friends-list-container p {
  width: 90%;
  padding: 1em;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1.2rem;
  color: #4b5563;
  background-color: #d0e8f2;
}
