.login-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 5vw;
  font-weight: bold;
}

@media (max-width: 768px) {
  .login-welcome-header {
    font-size: 10vw;
  }
}

.login-welcome-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 25%;
  border-radius: 10px;
  background-color: #ff7f00;
  color: black;
  font-size: 2.5em;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .login-welcome-button {
    font-size: 3.5em;
    width: 20%;
  }
}

.login-welcome-button:hover {
  background-color: darken(#ff7f00, 10%);
}

.login-welcome-button:active {
  background-color: darken(#ff7f00, 20%);
}

.login-welcome-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 127, 0, 0.5);
}
