.login-verify-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.login-verify-title {
  margin: 2em 0;
  font-size: 6vw;
}

@media (min-width: 768px) {
  .login-verify-title {
    font-size: 3em;
  }
}

.login-verify-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.code-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  color: #333;
}

.code-input {
  padding: 0.5em;
  margin: 1em 0;
  border: solid 1px black;
  width: 60%;
  background-color: #f2f2f2;
  color: #333;
  font-size: 1.5em;
}

.login-verify-form button {
  padding: 0.5em;
  margin: 1em 0;
  border-radius: 10px;
  background-color: #ff7f00;
  color: black;
  font-size: 1.5em;
}
