.login-phone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.login-phone-title {
  margin: 2em 0;
  font-size: 6vw;
}

@media (min-width: 768px) {
  .login-phone-title {
    font-size: 3em;
  }
}

.login-phone-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.phone-input-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 60%;
  color: #333;
  font-family: "Nanum Brush Script", cursive;
}

.phone-prefix {
  margin-right: 10px;
  color: black;
  font-family: "Nanum Brush Script", cursive;
  font-size: 2.5em;
}

.phone-input {
  padding: 0.5em;
  margin: 1em 0;
  margin-right:1.2em;
  border: solid 1px black;
  width: 60%;
  background-color: #f2f2f2;
  color: #333;
  font-family: "Nanum Brush Script", cursive;
  font-size: 1.5em; 
}

.login-phone-form button {
  padding: 0.5em;
  margin: 1em 0;
  border-radius: 10px;
  background-color: #ff7f00;
  color: black;
  font-family: "Nanum Brush Script", cursive;
  font-size: 1.5em;
}
