.login-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color:#d0e8f2;
    
    font-weight: bold;
    border: #ff7f00 5px solid;
}

.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 50%;
}

.login-header h1 {
    font-size: 75px;
    color: light black;
    font-family: 'Nanum Brush Script', cursive;
}

