.login-verify-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-verify-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.login-verify-title {
    display: flex;
    width: 100%;
   text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}   

.login-verify-form button {
    color: black;
}