.main-nav-container {

    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;

    font-weight: bold;

}



.main-nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.main-nav-header h1 {
    font-size: 75px;
    color: light black;
    font-family: 'Nanum Brush Script', cursive;
}
  