.main-nav-container {

    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color:#d0e8f2;
    font-weight: bold;
    border: #ff7f00 5px solid;
}



.main-nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.main-nav-header h1 {
    font-size: 75px;
    color: light black;
    font-family: 'Nanum Brush Script', cursive;
}
  