html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to bottom,
    white,
    white 90%,
    #d0e8f2 80%,
    #d0e8f2 80%
  );
  background-size: 100% 3rem;
  font-family: "Permanent Marker", cursive;
}
