html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

@keyframes animate {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(100px); }
  100% { transform: translateX(0); }
}

.react-simple-keyboard {
  display: flex;
padding-right: 5px  ;
padding-bottom: 0px;
height: 100%;
  width: 100%;
background-color: black !important;
/* animation: animate 1s infinite; */

  margin-bottom: 25px;
  font-family: 'Nanum Brush Script', cursive !important;; 
}   

.hg-rows {
  margin-bottom: -46px;
}


.hg-row {
  display: flex;
  margin-left: 0px;
  margin-right: -20px;
  margin-bottom: 0px;
   width: 100%;
}

.hg-theme-default .hg-row:not(:last-child) {
  margin-bottom: 0px;
}
